

.modo_art_switch_on, .modo_art_switch_off {
  position: absolute;
  z-index: 1;
  right: 72.5rem;
  height: 3rem;
  top: 0.1rem;
}

.modo_comm_switch_on, .modo_comm_switch_off {
  position: absolute;
  z-index: 1;
  right: 7rem;
  height: 2.4rem;
  top: 0.6rem;
}

.hide {
  display: none;
}

@media (max-width: 360px) {
  .navbar li {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  .navbar #navConfirm, nav .refresh {
    display: none;
  }

  #add_art_text {
    margin-left: 0rem;
  }

  .search {
    width: 15px;
    height: 15px;
  }

  .li_search, .li_cross {
    display: none;
  }

  #search {
    width: 4rem;
    height: 1.2rem;
    margin-left: 0rem;
  }

  #logIn {
    margin-right: 0rem;
  }

  #signUp {
    margin-left: 0.2rem;
  }

  main {
    margin: 0%;
  }

  #postContainer {
    width: 100%;
  }

  #postContainer article {
    margin-top: 1rem;
  }

  #postContainer h3, h4 {
    font-size: 0.8rem;
  }

  #postContainer .content, .postFooter {
    font-size: 0.7rem;
    max-height: 130px;
    overflow: scroll;
  }

  #postContainer .content {
    min-height: 130px;
  }

  .pencil, .trash {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 16rem;
    bottom: 1rem;
  }

  .trash {
    left: 18.7rem;
  }

  .art_msg_tools_icon_alert {
    position: absolute;
    left: 13rem;
    bottom: -0.2rem;
    width: 20px;
    height: 20px;
  }

  .art_msg_tools_alert {
    position: absolute;
    font-size: 0.6rem;
    right: 2.5%;
    top: 24%;
    width: 34%;
    height: 13%;
    padding: 0.5%;
  }

  .art_msg_tools_confirm, .art_msg_tools_cancel {
    top: 6rem;
    right: 5rem;
    width: 4%;
  }

  .art_msg_tools_cancel {
    right: 2.5rem;
  }

  .article_img {
    min-width: 17%;
    position: absolute;
    left: 15rem;
    top: 8rem;
  }

  .article_0, .article_1, .article_2 {
    top: 0rem;
  }

  .author p {
    width: 100px;
    margin-top: 0.5rem;
  }

  div.commentsView {
    margin-right: 0rem;
  }

  .eye {
    width: 25px;
    height: 25px;
  }

  aside {
    display: block;
    overflow: scroll;
    max-height: 200px;
    /* min-width: inherit; */
  }

  .addComment, .comments {
    min-width: 90%;
    padding: 0.2rem 1rem;
    margin: 0.5rem auto 0rem auto;
  }

  .textNewComment, .sendCommentButton {
    font-size: 0.7rem;
  }

  #newCommentMsg {
    font-size: 0.6rem;
    width: 100%;
  }

  .sendCommentButton {
    width: 100%;
    padding: 0 2%;
    margin-left: 35%;
  }

  .authorComm {
    font-size: 0.7rem;
    width: 55%;
  }

  .comm_pencil, .comm_trash {
    left: 5rem;
    bottom: -1rem;
    width: 15px;
    height: 15px;
  }

  .comm_trash {
    left: 6.5rem;
  }

  .textComment {
    font-size: 0.6rem;
    padding: 0.5rem;
  }

  .commTools {
    position: absolute;
  }

  .comm_msg_tools_confirm, .comm_msg_tools_cancel {
    width: 4%;
    right: 6.5rem;
    top: 0.4rem;
  }

  .comm_msg_tools_cancel {
    right: 4.5rem;
  }

  .comm_msg_tools_icon_alert {
    right: 8rem;
    top: 0.3rem;
    height: 27%;
  }

  .popupHeader {
    height: 6%;
  }

  .newArticleHead, .updateArticleHead, .updateCommentHead {
    font-size: 0.8rem;
  }

  .close {
    font-size: 1rem;
  }

  #addNewArticlePopup, #updateArticlePopup, #updateCommentPopup {
    left: calc(0% - 0px);
    top: calc(32% - 150px);
    width: 360px;
    height: 550px;
  }

  .titleInputNewArticle, .titleInputupdateArticle, .textNewArticle, 
  .textupdateArticle, .textupdateComment, .newArticleSubmit, 
  .updateArticleSubmit, .updateCommentSubmit, #articleMsg {
    font-size: 0.7rem;
  }

  .logPopup, .signPopup {
    top: calc(32% - 150px);
    left: calc(0% - 0px);
    width: 360px;
    height: 500px;
  }

  .question, .permute {
    font-size: 0.7rem;
  }

  .permute {
    padding: 0.1rem 0.6rem;
  }

  #signUpForm, #logInForm {
    font-size: 0.8rem;
  }

  #logInForm #logInSubmit, #signUpForm #signUpSubmit {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
  }

  #signUpMsg, #flogMsg {
    font-size: 0.7rem;
  }

  .modo_art_switch_on, .modo_art_switch_off {
    /* right: 9.5rem; */
    /* top: 12rem; */
    height: 2rem;
    position: inherit;
    margin: 0rem 0rem 0rem 6rem;
  }

  .comm_modo_delete {
    left: 6.5rem;
    top: 0.1rem;
    width: 15px;
    height: 15px;
  }

  .modo_comm_switch_on, .modo_comm_switch_off {
    top: 0rem;
    right: 7.9rem;
    height: 1.4rem;
  }
}