

#navConfirm {
  position: absolute;
  left: 10rem;
  font-size: 1rem;
  font-style: italic;
  text-shadow: 1px 1px 5px #515151;
}

#popupBody {
  height: 100%;
}

/* cross */
.addArticle {
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

#add_art_text {
  margin-left: -5.5rem;
}

.newArticleHead, .updateArticleHead, .updateCommentHead {
  display: block;
  position: relative;
  text-align: center;
  font-style: inherit;
  font-size: 1.5rem;
  width: 92%;
  text-shadow: 1px 2px 3px #515151;  
}

.close {
  display: block;
  position: relative;
  text-align: center;
  margin: 0rem 1rem;
  font-size: 1.5rem;
}

#addNewArticlePopup, #updateArticlePopup, #updateCommentPopup {
  position: fixed;
  top: 10%;
  z-index: 5;
  top: calc(30% - 150px);
  left: calc(30% - 100px);
  width: 900px;
  height: 700px;
  border: black solid 2px;
  border-radius: 5px;
  background-color: #E5EBEB;
}

#newArticleForm, #updateArticleForm, #updateCommentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 75%;
}

#newArticleWrap, #updateArticleWrap {
  height: 100%;
}

.titleInputNewArticle, .titleInputupdateArticle {
  width: 50%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.titleInputupdateArticle {
  height: 10%;
  padding: 1%;
  margin: 1%;
  border-radius: 15px;
  background-color: white;
}

.textNewArticle, .textupdateArticle, .textupdateComment {
  position: relative;
  width: 90%;
  height: 90%;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  background-color: white;
}

.newArticleSubmit, .updateArticleSubmit, .updateCommentSubmit {
  font-size: 1rem;
  margin-top: 0.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}

#articleMsg {
  font-style: italic;
  margin-top: 3rem;
}

.art_msg_tools_alert {
  position: relative;
  z-index: 4;
  right: -0.5%;
  top: 10%;
  font-style: italic;
  font-size: 0.95rem;
  text-align: center;
  width: 17%;
  height: 5%;
  padding: 1px 2px;
  border-radius: 10px;
  border: solid 0.5px;
  border-color: black;
  background-color: white;
}

.art_msg_tools_confirm, .art_msg_tools_cancel {
  position: absolute;
  z-index: 4;
  top: 7rem;
  right: 11%;
  width: 3%;
}

.art_msg_tools_cancel {
  right: 4%;
}

.art_msg_tools_icon_alert {
  position: absolute;
  right: 10rem;
}

.comm_msg_tools_confirm, .comm_msg_tools_cancel {
  position: absolute;
  z-index: 4;
  right: 17rem;
  width: 4%;
}

.comm_msg_tools_cancel {
  right: 13.5rem;
}

.comm_msg_tools_icon_alert {
  position: absolute;
  right: 20rem;
  top: 0.8rem;
  height: 20%;
}

.negative_index {
  position: relative;
  z-index: -1;
}

.comments, .addComment {
  position: relative;
  min-width: 49%;
  max-width: 49%;
  padding: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgba(211, 222, 220, 0.6);
}

.addComment h4 {
  display: flex;
  align-self: center;
}

.comments {
  margin-left: auto;
}

.addComment {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.textComment {
  position: relative;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
}

.textNewComment {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: white;
}

.sendComment {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.3rem 0rem 0rem 0rem;
}

#newCommentMsg {
  font-style: italic;
  text-align: left;
  width: 20%;
  margin-left: 5%;
  text-shadow: 1px 1px 3px #515151;
}

.sendCommentButton {
  position: relative;
  padding: 0.3rem;
  margin-left: 56%;
  max-height: fit-content;
}
